<configuration>
    <!-- Định nghĩa appender để ghi log ra console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Định nghĩa appender để gửi log đến Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
<!--            <customFields>{"app":"your-application-name"}</customFields>-->
<!--        </encoder>-->
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
<!--<configuration>-->
<!--    &lt;!&ndash; Định nghĩa appender để ghi log ra console &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Định nghĩa appender để gửi log đến Logstash &ndash;&gt;-->
<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >-->
<!--            <customFields>{"app":"log-1","index":"spring-logs-%{+YYYY.MM.dd}"}</customFields>-->
<!--                </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="LOGSTASH" />-->
<!--    </root>-->
<!--</configuration>-->

