<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.tiny.cloud/1/mcvdwnvee5gbrtksfafzj5cvgml51to5o3u7pfvnjhjtd2v1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="js/main.js"></script>
<script src="js/baiviet.js"></script>
<script>
    window.onload = function(){
        loadABlog();
    }
</script>
</head>
<body class="sb-nav-fixed">
    <nav id="top" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <button></button>
        </div>
        <div id="layoutSidenav_content">
            <main class="main">
                <div>
                    <a>heheh</a>
                </div>
                <div class="blockcontent">
                    <h3>Thêm bài viết</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Tiêu đề blog</label>
                            <input id="tieude" type="text" class="form-control">
                            <label>Mô tả</label>
                            <input id="mota" type="text" class="form-control">
                            <label>Ảnh bìa</label>
                            <input id="imagebanner" type="file" class="form-control">
                            <img class="imgblog" id="imgblog"><br> 
                            <div id="loading">
                                <div class="bar1 bar"></div>
                            </div>
                            <button onclick="saveBlog()" class="btn btn-primary form-control btn-add">Thêm/ cập nhật bài viết</button>
                        </div>
                        <div class="col-md-6">
                            <label>Nội dung</label>
                            <textarea id="editor"  name="content"></textarea>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        tinymce.init({
          selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist | emoticons charmap | removeformat',
            menubar: 'file edit insert format tools table',
            // giữ nguyên format khi dán nội dung (từ Word, Web,...)
            paste_as_text: false,              // Không chuyển về plain text
            paste_data_images: true,           // Cho phép dán ảnh dạng base64
            paste_webkit_styles: "all",        // Giữ tất cả style khi paste
            paste_retain_style_properties: "all",

            // cho phép một số thẻ HTML và style inline
            valid_elements: '*[*]',
            valid_styles: {
                '*': 'font-family,font-size,font-weight,font-style,text-decoration,color,background-color,text-align'
            },

            tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ]
        });
    
        imagebanner.onchange = evt => {
            const [file] = imagebanner.files
            if (file) {
                imgblog.src = URL.createObjectURL(file)
            }
        }
      </script>
</body>
</html>
